@charset "utf-8";


$white: #fff;
$black: #000;



$ci_main: #0b3190; //
$ci_sub: #0266b2; //
$ci_assist: #005392; //

$ci_strong: #ff5f19;
$ci_stress: #de5215;

$text_main: #303e48;
$text_sub: #565656; //
$text_third: #7a7a7a;

$border_main: #dddddd;
$border_strong: #cccccc;

$media_xl: 1279px;
$media_l: 980px;
$media_ml: 765px;
$media_m: 660px;
$media_ms: 480px;
$media_s: 340px;
