
@charset "utf-8";
// Here's where we define some default constants
@import "_base";

// Then we'll import the compass extension

@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line



.bg_white{ background-color: $white; }

.bg_ci_main{ background-color: $ci_main;}
.bg_ci_sub{ background-color: $ci_sub;}


.color_white{ color: $white; }


.color_ci_main{ color: $ci_main;}
.color_ci_sub{ color: $ci_sub;}
.color_ci_strong{ color: $ci_strong;}

.bd_ci_main{ border-color: $ci_main;}
.bd_trans{ border-color: transparent;}

.bd_solid_1{ border-width: 1px; border-style: solid;}
.bd_solid_t_1{ border-top-width: 1px; border-style: solid;}
.bd_solid_t_2{ border-top-width: 2px; border-style: solid;}


.bs_main {
	@include box-shadow(0px 0px 3px rgba(0,0,0,.15));
}

.float_l{ @include float-left();}
.float_r{ @include float-right();}


.block{ display:block; }
.inline_block{ display: inline-block;}
.table_row{ display: table-row;}
.table_cell{ display: table-cell;}
.table{ display: table;}
.table_header_group{ display: table-header-group;}
.table_row_group{display: table-row-group;}


.font_size_14{
	font-size: 14px;
}
.font_size_15{
	font-size: 15px;
}
.font_size_16{
	font-size: 16px;
}



.align_t{ vertical-align: top; }
.align_m{ vertical-align: middle; }
.align_b{ vertical-align: bottom; }
.align_tb{ vertical-align: text-bottom; }
.align_base{ vertical-align: baseline; }
.align_super{ vertical-align: super;}

.align_l{ text-align: left;}
.align_c{ text-align: center;}
.align_r{ text-align: right;}

.line_under{ text-decoration: underline;}
.line_through{ text-decoration: line-through;}

// width height margin padding ---------- set start here ----------
.w_full{ width:100%; }
.w_half{ width:50%; }
.w_50{ width: 50px;}
.w_100{ width: 100px;}
.m_auto{ margin-left: auto; margin-right: auto;}

.m_0{ margin: 0px;}
.mt_0{ margin-top: 0px;}
.mr_0{ margin-right: 0px;}
.mb_0{ margin-bottom: 0px;}
.ml_0{ margin-left: 0px;}

.m_5{ margin: 5px;}
.mt_5{ margin-top: 5px;}
.mr_5{ margin-right: 5px;}
.mb_5{ margin-bottom: 5px;}
.ml_5{ margin-left: 5px;}

.m_10{ margin: 10px;}
.mt_10{ margin-top: 10px;}
.mr_10{ margin-right: 10px;}
.mb_10{ margin-bottom: 10px;}
.ml_10{ margin-left: 10px;}

.m_15{ margin: 15px;}
.mt_15{ margin-top: 15px;}
.mr_15{ margin-right: 15px;}
.mb_15{ margin-bottom: 15px;}
.ml_15{ margin-left: 15px;}

.m_20{ margin: 20px;}
.mt_20{ margin-top: 20px;}
.mr_20{ margin-right: 20px;}
.mb_20{ margin-bottom: 20px;}
.ml_20{ margin-left: 20px;}

.m_25{ margin: 25px;}
.mt_25{ margin-top: 25px;}
.mr_25{ margin-right: 25px;}
.mb_25{ margin-bottom: 25px;}
.ml_25{ margin-left: 25px;}

.m_30{ margin: 30px;}
.mt_30{ margin-top: 30px;}
.mr_30{ margin-right: 30px;}
.mb_30{ margin-bottom: 30px;}
.ml_30{ margin-left: 30px;}

.m_35{ margin: 35px;}
.mt_35{ margin-top: 35px;}
.mr_35{ margin-right: 35px;}
.mb_35{ margin-bottom: 35px;}
.ml_35{ margin-left: 35px;}

.m_40{ margin: 40px;}
.mt_40{ margin-top: 40px;}
.mr_40{ margin-right: 40px;}
.mb_40{ margin-bottom: 40px;}
.ml_40{ margin-left: 40px;}

.m_45{ margin: 45px;}
.mt_45{ margin-top: 45px;}
.mr_45{ margin-right: 45px;}
.mb_45{ margin-bottom: 45px;}
.ml_45{ margin-left: 45px;}

.m_50{ margin: 50px;}
.mt_50{ margin-top: 50px;}
.mr_50{ margin-right: 50px;}
.mb_50{ margin-bottom: 50px;}
.ml_50{ margin-left: 50px;}


.p_0{ padding: 0px;}
.pt_0{ padding-top: 0px;}
.pr_0{ padding-right: 0px;}
.pb_0{ padding-bottom: 0px;}
.pl_0{ padding-left: 0px;}

.p_5{ padding: 5px;}
.pt_5{ padding-top: 5px;}
.pr_5{ padding-right: 5px;}
.pb_5{ padding-bottom: 5px;}
.pl_5{ padding-left: 5px;}

.p_10{ padding: 10px;}
.pt_10{ padding-top: 10px;}
.pr_10{ padding-right: 10px;}
.pb_10{ padding-bottom: 10px;}
.pl_10{ padding-left: 10px;}

.p_15{ padding: 15px;}
.pt_15{ padding-top: 15px;}
.pr_15{ padding-right: 15px;}
.pb_15{ padding-bottom: 15px;}
.pl_15{ padding-left: 15px;}

.p_20{ padding: 20px;}
.pt_20{ padding-top: 20px;}
.pr_20{ padding-right: 20px;}
.pb_20{ padding-bottom: 20px;}
.pl_20{ padding-left: 20px;}

.p_25{ padding: 25px;}
.pt_25{ padding-top: 25px;}
.pr_25{ padding-right: 25px;}
.pb_25{ padding-bottom: 25px;}
.pl_25{ padding-left: 25px;}

.p_30{ padding: 30px;}
.pt_30{ padding-top: 30px;}
.pr_30{ padding-right: 30px;}
.pb_30{ padding-bottom: 30px;}
.pl_30{ padding-left: 30px;}

.p_35{ padding: 35px;}
.pt_35{ padding-top: 35px;}
.pr_35{ padding-right: 35px;}
.pb_35{ padding-bottom: 35px;}
.pl_35{ padding-left: 35px;}

.p_40{ padding: 40px;}
.pt_40{ padding-top: 40px;}
.pr_40{ padding-right: 40px;}
.pb_40{ padding-bottom: 40px;}
.pl_40{ padding-left: 40px;}

.p_45{ padding: 45px;}
.pt_45{ padding-top: 45px;}
.pr_45{ padding-right: 45px;}
.pb_45{ padding-bottom: 45px;}
.pl_45{ padding-left: 45px;}

.p_50{ padding: 50px;}
.pt_50{ padding-top: 50px;}
.pr_50{ padding-right: 50px;}
.pb_50{ padding-bottom: 50px;}
.pl_50{ padding-left: 50px;}
// width height margin padding ---------- end of here ----------



// grid-system ---------- set start here ----------

.col_2_1{ width: 50%;}
.col_2_2{ width: 100%;}

.col_3_1{ width: 33.333333%}
.col_3_2{ width: 66.666666%}
.col_3_3{ width: 100%;}

.col_4_1{ width: 25%;}
.col_4_2{ width: 50%;}
.col_4_3{ width: 75%;}
.col_4_4{ width: 100%;}

.col_5_1{ width: 20%;}
.col_5_2{ width: 40%;}
.col_5_3{ width: 60%;}
.col_5_4{ width: 80%;}
.col_5_5{ width: 100%;}

.col_6_1{ width: 16.666666%;}
.col_6_2{ width: 33.333333%;}
.col_6_3{ width: 50%;}
.col_6_4{ width: 66.666666%;}
.col_6_5{ width: 83.333333%;}
.col_6_6{ width: 100%;}

.col_7_1{ width: 14.285714%;}
.col_7_2{ width: 28.571428%;}
.col_7_3{ width: 42.857142%;}
.col_7_4{ width: 57.142856%;}
.col_7_5{ width: 71.42857%;}
.col_7_6{ width: 85.714284%;}
.col_7_7{ width: 100%;}


.col_8_1{ width: 12.5%;}
.col_8_2{ width: 25%;}
.col_8_3{ width: 37.5%;}
.col_8_4{ width: 50%;}
.col_8_5{ width: 62.5%;}
.col_8_6{ width: 75%;}
.col_8_7{ width: 87.5%;}
.col_8_8{ width: 100%;}

.col_9_1{ width: 11.111111%;}
.col_9_2{ width: 22.222222%;}
.col_9_3{ width: 33.333333%;}
.col_9_4{ width: 44.444444%;}
.col_9_5{ width: 55.555555%;}
.col_9_6{ width: 66.666666%;}
.col_9_7{ width: 77.777777%;}
.col_9_8{ width: 88.888888%;}
.col_9_9{ width: 100%;}

.col_10_1{ width: 10%;}
.col_10_2{ width: 20%;}
.col_10_3{ width: 30%;}
.col_10_4{ width: 40%;}
.col_10_5{ width: 50%;}
.col_10_6{ width: 60%;}
.col_10_7{ width: 70%;}
.col_10_8{ width: 80%;}
.col_10_9{ width: 90%;}
.col_10_10{ width: 100%;}

.col_11_1{ width: 9.090909%;}
.col_11_3{ width: 27.272727%;}
.col_11_4{ width: 36.363636%;}
.col_11_5{ width: 45.454545%;}
.col_11_6{ width: 54.545454%;}
.col_11_7{ width: 63.636363%;}


.col_12_1{ width: 8.333333%;}
.col_12_2{ width: 16.666666%;}
.col_12_3{ width: 25%;}
.col_12_4{ width: 33.333333%;}
.col_12_5{ width: 41.666666%;}
.col_12_6{ width: 50%;}
.col_12_7{ width: 58.333333%;}
.col_12_8{ width: 66.666666%;}
.col_12_9{ width: 75%;}
.col_12_10{ width: 83.333333%;}
.col_12_11{ width: 91.666666%;}
.col_12_12{ width: 100%;}

.col_16_1{ width: 6.25%;}
.col_16_3{ width: 18.75%;}
.col_16_5{ width: 31.25%;}
.col_16_10{ width: 62.5%;}


.col_15_1{ width: 6.666666%;}

.col_20_1{ width: 5%;}

