@include keyframes(breath){
	0% { 
    	@include transform(scale(1));
	}
	50% {
		@include transform(scale(0.95));
	}
    100%{ 
    	@include transform(scale(1));
   	}
}

@include keyframes(product){
	0% { 
    	bottom: 0;
	}
	40% {
		bottom: -20px;
	}
    100%{ 
    	bottom: 0;
   	}
}
#index{
	#header{

		@media all and (max-width: $media_l){
			.nav_menu{
				height: 200px;
			}
		}
	}
	#container{
		padding-top: 82px;
		@media all and (max-width: $media_l){
			padding-top: 65px;
		}
	}
}
.overview{
	position: relative;
	overflow: hidden;
	.content_article{
		padding: 60px 0;
		background: url(../img/bg_index_overview.jpg) center top no-repeat $white; 
	}
	.logo_fevo{
		display: table-cell;
		width: 29.6%;
		margin: 0 0 0 4.5%;
		img{
			width: 100%;
			max-width: 371px;
		}
	}
	.title_overview_l{
		position: relative;
		display: table-cell;
		width: 65.7%;
		img{
			width: 100%;
			max-width: 821px;
		}
	}
	.group_index_overview_product_l{
		position: relative;
		display: table;
		width: 100%;
		margin: 35px auto 0;
		text-align: center;
		&.show{
			[class^="product_index_overview_l_"]{
				opacity: 1;
				top: 0;
			}
		}
	}
	[class^="product_index_overview_l_"]{
		position: relative;
		display: table-cell;
		padding: 2%;
		top: 100px;
		opacity: 0;
		@include transition-property( all );
		@include transition-duration(0.5s);
		@include transition-timing-function(cubic-bezier(.37,.9,.8,.97));
	}
	.product_index_overview_l_1{
		width: 31.4%;
		@include transition-delay(0.6s);
		img{
			width: 100%;
			max-width: 285px;
		}
	}
	
	.product_index_overview_l_2{
		width: 31.4%;
		@include transition-delay(0.8s);
		img{
			width: 100%;
			max-width: 285px;
		}
	}
	.product_index_overview_l_3{
		width: 37.2%;
		@include transition-delay(0.95s);
		img{
			width: 100%;
			max-width: 355px;
		}
	}

	@media all and (max-width: $media_ml){

		.content_article{
			padding: 30px 0;
		}
	}
	@media all and (max-width: $media_m){
		display: none;
	}
}

.overview_mobile{
	display: none;
	padding: 20px 0;
	background: url(../img/bg_index_overview_mobile.jpg) center top no-repeat $white; 
	.title_overview_m{
		position: relative;
		width: 100%;
		img{
			width: 100%;
			max-width: 660px;
		}
	}
	.group_index_overview_product_m{
		text-align: center;
		&.show{
			[class^="product_index_overview_m_"]{
				opacity: 1;
				top: 0;
			}
		}
	}
	[class^="product_index_overview_m_"]{
		position: relative;
		width: 100%;
		top: 100px;
		margin: 15px 0 0;
		opacity: 0;

		@include transition-property( opacity, top);
		@include transition-duration(0.5s);
		@include transition-timing-function(cubic-bezier(.37,.9,.8,.97));
		img{
			width: 100%;
			max-width: 450px;
		}
	}

	.product_index_overview_m_1{
		@include transition-delay(0.6s);
	}
	
	.product_index_overview_m_2{
		@include transition-delay(0.8s);
	}
	.product_index_overview_m_3{
		@include transition-delay(0.95s);
	}
	@media all and (max-width: $media_m){
		display: block;
	}
}


.feature{
	


	
	.tech{
		position: relative;
		z-index: 1;
		background: url(../img/bg_index_feature_tech.jpg) top center no-repeat #fdfbdb;
	}
	.header_feature_tech{
		position: relative;
		height: 390px;
		padding: 60px 0 0;
		text-align: center;
	}
	.logo_index_feature_tech{
		width: 100%;
		img{
			max-width: 282px;
			width: 100%;
		}
	}
	.title_unit_index_feature_tech{
		width: 100%;
		margin: 0 0 10px;
		img{
			max-width: 770px;
			width: 100%;
		}
	}
	.subtitle_index_feature_tech{
		color: $white;
		font-size: 24px;
		line-height: 34px;
	}
	.group_feature_tech{
		display: table;
		width: 100%;
		max-width: 970px;
		margin: 0 auto;
	}
	.left_tech{
		position: relative;
		display: table-cell;
		width: 61%;
		vertical-align: middle;
	}
	.right_tech{
		position: relative;
		display: table-cell;
		width: 39%;
		vertical-align: middle;
	}
	.title_index_feature_tech{
		color: $ci_main;
		font-size: 40px;
		line-height: 56px;
	}
	.text_feature_tech{
		color: $text_main;
		font-size: 20px;
		line-height: 28px;
	}
	.img_index_feature_tech{
		width: 100%;
		padding: 0 0 0 6%;
		img{
			width: 100%;
			max-width: 341px;
		}
	}


	.new{
		padding: 50px 0 0;
		position: relative;
		overflow: hidden;
		text-align: center;
		.parallax_layer{
			background-image: url(../img/bg_index_feature_new.jpg);
		}
	}
	.logo_index_feature_new{
		position: relative;
		width: 100%;
		text-align: center;
		img{
			width: 100%;
			max-width: 206px;
		}
	}
	.group_feature_new{
		position: relative;
		padding: 125px 0 50px;
		background: url(../img/bg_group_feature_new.png) center top no-repeat transparent;
	}
	.img_index_feature_new{
		width: 100%;
		text-align: center;
		img{
			width: 100%;
			max-width: 537px;
		}
	}


	@media all and (max-width: $media_ml){

	}
	@media all and (max-width: $media_m){

		.tech{
			background: url(../img/bg_index_feature_tech_m.jpg) center 0 no-repeat #28acde;
		}
		.header_feature_tech{
			height: auto;
			padding: 110px 0 35px;
		}
		.logo_index_feature_tech{
			width: 59%;
			margin: auto;
		}
		.subtitle_index_feature_tech{
			color: $white;
			font-size: 20px;
			line-height: 30px;
		}

		
		.group_feature_tech{
			display: block;
			padding: 30px 0 0;
			background-color: rgba(253,251,219,1);
			@include background-image(linear-gradient(left, rgba(253,251,219,1) 0%, rgba(255,255,255,1) 100%));
		}
		.left_tech{
			display: block;
			width: 100%;
		}
		.right_tech{
			display: block;
			width: 100%;
			text-align: center;
		}
		.title_index_feature_tech{
			margin: 0 0 15px;
			font-size: 30px;
			line-height: 40px;
		}
		.text_feature_tech{
			margin: 0 0 20px;
			font-size: 16px;
			line-height: 24px;
		}

		.new{
			background: url(../img/bg_index_feature_new.jpg) center 40% no-repeat transparent;
			.parallax_layer{
				background-image: none;
			}
		}
	}
	@media all and (max-width: $media_ms){

		.new{
			background-position: center 25%;
			.parallax_layer{
				background-image: none;
			}
		}
		.logo_index_feature_new{
			width: 50%;
			margin: 0 auto;
		}
		
	}

} 

